{% extends 'blog/base_blog.html' %}


{% block title %}
{{ post.title }} - {{ block.super }}
{% endblock%}

{% block content %}
<h1 class="mt-t">{{ post.title }}</h1>
<p>{{ post.body }}</p>
    <div class="card-footer text-muted">
        Tags:
        {% for tag in post.tags.all %}
        <a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
        {% endfor %}
    </div>
{% endblock%}