{% extends 'blog/base_blog.html' %}


{% block title %}
Tags list
{% endblock%}

{% block content %}
<h1 class="mb-5">Tags:</h1>
{% for tag in tags %}
<p><a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a></p>
{% endfor %}
{% endblock%}