.single-comment {
    background-color: #f5f5f5;
    color: #1b1b1b;
    margin-bottom: 5px;
    padding: 5px 10px;
}
.comment-time {
    float: right;
}
.comments {
    background-color: #f5f5f5;
    padding: 20px;
	width: 70%;
}
.comments .inptxt {
    width: 100%;
}
.comments td:nth-child(2n+1) {
    width: 25%;
}

.sendBtn  {
    border: 1px solid gray;
    display: block;
    margin: 20px 0;
    padding: 10px;
    text-align: center;
	cursor: pointer;
}
.sendBtn:hover {
	border: 1px solid gray;
	background-color: #f9f9f9;
	color:#337ab7;
}
.form-required {
	color:red;
}
.req {
	font-weight: normal;
}
.inptxt.error {
    border-color: #ed0000;
}
.tnx {
    background-color: #00aa36;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
	display:none;
}