ul.menu-0{
	background-color: white;
}
ul.menu-0 > li {
    display: inline-block;
    padding-right: 15px;
}
ul.menu-1, ul.menu-2 {
    display: none;
	position: absolute;
	list-style: outside none none;
    margin-left: -40px;
    position: absolute;
	width: 240px;
	padding-bottom: 10px;
	background-color: white;
	padding-right: 10px;
}

ul.menu-0 > li:hover  ul.menu-1{
    display: block;
	
}
ul.menu-1 > li:hover  ul.menu-2{
    display: block;
	
}
ul.menu-0 a{
	font-size: 15px;
    text-transform: uppercase;
}
.menu-chld-1, .menu-chld-2 {
    border-top: 1px solid #d7d7d7;
    height: 50px;
    padding-top: 3px;
}
.popular-item {
    display: block;
    float: right;
}

.menu-chld-1.parent > a {
    display: block;
    height: 40px;
}
.menu-chld-1 > a {
    font-weight: bold;
}
