{% extends 'blog/base_blog.html' %}


{% block title %}
Удалить тэг: {{ tag.title }}
{% endblock%}

{% block content %}
<!--<form action="{% url 'tag_delete_url' slug=tag.slug %}" method="post">-->
<form action="{{ tag.tag_delete_url }}" method="post">
    {% csrf_token %}
    <p>Вы уверены что хотите удалить тег: <b>{{ tag.title }}</b>?</p>
    <!--<a href="{% url 'tag_detail_url' slug=tag.slug %}">Отмена</a>-->
    <a href="{{ tag.get_absolute_url }}}">Отмена</a>
    <button type="submit" class="btn btn-primary">Удилить</button>
</form>

{% endblock%}