{% extends 'blog/base_blog.html' %}


{% block title %}
Удалить запись: {{ post.title }}
{% endblock%}

{% block content %}
<form action="{{ post.get_delete_url }}" method="post">
    {% csrf_token %}

    <p>Вы уверены что хотите удалить запись: <b>{{ post.title }}</b>?</p>
    <a href="{{ post.get_absolute_url }}">Отмена</a>
    <button type="submit" class="btn btn-primary">Удилить</button>
</form>

{% endblock%}